/*
Standard WordPress admin colors.

Announcement post:
https://make.wordpress.org/core/2021/02/23/standardization-of-wp-admin-colors-in-wordpress-5-7/

Source:
https://codepen.io/ryelle/pen/WNGVEjw

A "wp" prefix has been added to avoid name conflicts with other code in this plugin.
 */
.ws-ame-tooltip {
  font-size: 14px;
  line-height: 20px;
  color: #333;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  padding: 5px 9px;
  max-width: 300px;
  max-height: 600px;
  z-index: 100200;
}

.ame-radio-button-bar-control {
  display: flex;
  flex-direction: row;
}
.ame-radio-button-bar-control input[type=radio], .ame-radio-button-bar-control input[type=checkbox] {
  position: absolute;
  left: -9999em;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  margin: -1px;
}
.ame-radio-button-bar-control > label {
  display: inline-block;
}
.ame-radio-button-bar-control input[type=radio]:checked ~ .button {
  background-color: #dcdcde;
  color: #135e96;
  border-color: #0a4b78;
  box-shadow: inset 0 2px 5px -3px var(--ame-rb-box-shadow-color, #0a4b78);
  z-index: 1;
}
.ame-radio-button-bar-control > .ame-radio-bar-item:not(:first-child) > .button {
  margin-left: -1px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.ame-radio-button-bar-control > .ame-radio-bar-item:not(:last-child) > .button {
  margin-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.ame-radio-button-bar-control input[type=radio]:disabled ~ .button {
  color: #a7aaad;
  border-color: #dcdcde;
  background: #f6f7f7;
  box-shadow: none;
  cursor: default;
}
.ame-radio-button-bar-control .ame-radio-bar-button {
  box-sizing: border-box;
  height: 32px;
  min-height: 32px;
  padding: 0 10px;
  line-height: 30px;
  user-select: none;
  text-align: center;
  display: flex;
  align-items: center;
}
.ame-radio-button-bar-control .ame-radio-bar-button .dashicons {
  line-height: 30px;
}
.ame-radio-button-bar-control .ame-radio-bar-button .dashicons {
  line-height: 1;
}
.ame-radio-button-bar-control .ame-radio-bar-button.ame-rb-has-label .dashicons {
  margin-right: 0.2em;
}
.ame-radio-button-bar-control .ame-radio-bar-button .dashicons-image-rotate {
  font-size: 17px;
  line-height: 17px;
  height: 16px;
}
.ame-radio-button-bar-control .ame-radio-bar-button .dashicons-no, .ame-radio-button-bar-control .ame-radio-bar-button .dashicons-no-alt {
  font-size: 22px;
  line-height: 22px;
  height: 22px;
}

#ame-cpe-content-permissions .inside {
  padding: 0;
  margin-top: 0;
}

.ame-cpe-tab-nav {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding-left: 0;
  border-bottom: 1px solid #dcdcde;
}
.ame-cpe-tab-nav li {
  box-sizing: border-box;
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-bottom: -1px;
}
.ame-cpe-tab-nav a {
  display: inline-block;
  box-sizing: border-box;
  position: relative;
  padding: 8px 14px;
  border-bottom: 2px solid transparent;
  transition: none;
  text-decoration: none;
}
.ame-cpe-tab-nav a:focus, .ame-cpe-tab-nav a:active {
  outline: none;
  box-shadow: none;
}
.ame-cpe-tab-nav a:not(:hover) {
  color: #2c3338;
}
.ame-cpe-tab-nav .current a {
  color: #2c3338;
  background: white;
  border-bottom-color: var(--wp-components-color-accent, var(--wp-admin-theme-color, #007cba));
}
.block-editor .ame-cpe-tab-nav {
  padding-left: 10px;
}

.ame-cpe-main-tab-container {
  display: flex;
  flex-grow: 1;
}

.ame-cpe-tab {
  flex-grow: 1;
  min-height: 100px;
  padding: 10px 12px;
}
.block-editor .ame-cpe-tab {
  padding-left: 24px;
  padding-right: 24px;
}

.ame-cpe-advanced-tab {
  display: flex;
  flex-direction: row;
  padding: 0;
}
.block-editor .ame-cpe-advanced-tab {
  padding: 0;
}

.ame-cpe-actor-nav-container {
  flex-basis: 20%;
  max-width: 500px;
  border-right: 1px solid #dcdcde;
  background: #fafafa;
}

.ame-cpe-actor-nav {
  padding-top: 6px;
}

.ame-cpe-actor-nav-list {
  margin: 0;
  padding: 0;
}
.ame-cpe-actor-nav-list li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.ame-cpe-actor-nav-list li:hover {
  background: #f0f0f0;
}
.ame-cpe-actor-nav-list li a {
  display: flex;
  flex-direction: row;
  padding: 0 10px;
  text-decoration: none;
  box-shadow: none;
  border-bottom: 1px solid transparent;
}
.ame-cpe-actor-nav-list li:first-child a {
  border-top: 1px solid transparent;
}
.ame-cpe-actor-nav-list li.current {
  background: #CCE8FF;
}
.ame-cpe-actor-nav-list .current a {
  color: #333;
  font-weight: 600;
  box-shadow: none;
}
.ame-cpe-actor-nav-list .ame-cpe-actor-name {
  padding: 8px 0;
  margin-right: 1em;
}

.ame-cpe-actor-nav-actions {
  margin-top: 18px;
  padding: 10px 10px 12px;
  border-top: 1px solid #dcdcde;
}

.row-actions.ame-cpe-actor-nav-actions {
  position: unset;
  left: 0;
  float: none;
}

a.ame-cpe-action-not-applicable,
.row-actions .trash a.ame-cpe-action-not-applicable {
  color: #787c82;
}

.ame-cpe-actor-settings-container {
  flex-basis: 60%;
  flex-grow: 1;
  padding: 8px 12px;
}

.ame-cpe-actor-settings {
  padding: 0;
  margin: 0;
  border: none;
}
.ame-cpe-actor-settings td, .ame-cpe-actor-settings th {
  padding: 2px;
  padding-bottom: 10px;
}
.ame-cpe-actor-settings th {
  text-align: left;
  padding-right: 12px;
  font-weight: 600;
}
.ame-cpe-actor-settings label, .ame-cpe-actor-settings select {
  vertical-align: baseline;
}

.ame-cpe-actor-action-setting {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
.ame-cpe-actor-action-setting .ame-cpe-tooltip-trigger {
  margin-left: 10px;
}

.ame-cpe-actor-settings .ame-cpe-permission-options {
  min-width: 140px;
}
.ame-cpe-actor-settings .ame-cpe-option-allow, .ame-cpe-actor-settings .ame-cpe-option-deny {
  font-weight: bold;
}
.ame-cpe-actor-settings .ame-cpe-option-default {
  font-weight: normal;
}
.ame-cpe-actor-settings .ame-cpe-option-allow:not(:hover) {
  color: #007017;
}
.ame-cpe-actor-settings .ame-cpe-option-deny:not(:hover) {
  color: #b32d2e;
}
.ame-cpe-actor-settings .ame-cpe-option-default:not(:hover) {
  color: #333;
}
.ame-cpe-actor-settings .ame-cpe-option-default.ame-cpe-option-allow:not(:hover) {
  color: #007017;
}
.ame-cpe-actor-settings .ame-cpe-option-default.ame-cpe-option-deny:not(:hover) {
  color: #b32d2e;
}

ame-cpe-permission-options-bar,
ame-cpe-permission-options-dropdown {
  display: block;
}

.ame-cpe-actor-action-group-label h3 {
  margin-top: 1em;
  margin-bottom: 0;
  font-size: 1.0769230769em;
  background: #f0f0f1;
  padding: 4px 8px;
  margin-left: -8px;
}

.ame-cpe-actor-action-group-label-row:first-of-type h3 {
  margin-top: 0;
}

.ame-cpe-tooltip-trigger {
  color: #646970;
  display: inline-block;
}

.ame-cpe-permission-bar .ame-cpe-rb-label {
  font-weight: normal;
  display: inline-block;
  text-align: center;
}
.ame-cpe-permission-bar .ame-cpe-rb-label::before {
  font-weight: bold;
  display: block;
  content: attr(data-label);
  height: 1px;
  visibility: hidden;
  margin-bottom: -1px;
}
.ame-cpe-permission-bar .dashicons {
  transition: none;
}
.ame-cpe-permission-bar .ame-radio-bar-button {
  position: relative;
  z-index: 10;
  user-select: none;
  min-width: 6em;
  justify-content: center;
  border-color: #8c8f94;
  background-color: #f6f7f7;
  --ame-rb-box-shadow-color: transparent;
  color: #3c434a;
}
.ame-cpe-permission-bar .ame-radio-bar-button .dashicons {
  margin-left: -0.2em;
}
.ame-cpe-permission-bar .ame-radio-bar-button .dashicons.dashicons {
  color: #3c434a;
}
.ame-cpe-permission-bar .ame-cpe-option-default {
  min-width: 9em;
}
.ame-cpe-permission-bar input[type=radio]:checked ~ .ame-radio-bar-button {
  z-index: 20;
}
.ame-cpe-permission-bar input[type=radio]:checked ~ .ame-radio-bar-button, .ame-cpe-permission-bar input[type=radio]:checked ~ .ame-radio-bar-button .dashicons {
  color: white;
}
.ame-cpe-permission-bar input[type=radio]:checked ~ .ame-radio-bar-button .ame-cpe-rb-label {
  font-weight: bold;
}
.ame-cpe-permission-bar .ame-cpe-option-allow input[type=radio]:checked ~ .ame-radio-bar-button {
  background-color: #007017;
  border-color: rgb(0, 100.8, 20.7);
}
.ame-cpe-permission-bar .ame-cpe-option-allow.ame-cpe-option-default input[type=radio]:checked ~ .ame-radio-bar-button {
  background-color: rgb(47.9, 143.7, 67.5732142857);
}
.ame-cpe-permission-bar .ame-cpe-option-deny input[type=radio]:checked ~ .ame-radio-bar-button {
  background-color: #b32d2e;
  border-color: rgb(161.1, 40.5, 41.4);
}
.ame-cpe-permission-bar .ame-cpe-option-deny.ame-cpe-option-default input[type=radio]:checked ~ .ame-radio-bar-button {
  background-color: rgb(174.8178571429, 106.3821428571, 106.8928571429);
}

.ame-cpe-mini-grid {
  display: grid;
  grid-template-rows: repeat(2, 8px);
  grid-auto-columns: 8px;
  grid-auto-flow: column;
  gap: 2px;
  margin-left: auto;
  align-self: center;
  border-radius: 2px;
  padding: 2px;
}
.ame-cpe-mini-grid .ame-cpe-cell-allow {
  background: #007017;
}
.ame-cpe-mini-grid .ame-cpe-cell-deny {
  background: #b32d2e;
}
.ame-cpe-mini-grid .ame-cpe-cell-default.ame-cpe-cell-allow {
  background: #1ed14b;
}
.ame-cpe-mini-grid .ame-cpe-cell-default.ame-cpe-cell-deny {
  background: #ff8085;
}
.ame-cpe-mini-grid .ame-cpe-cell-not-applicable {
  background: transparent;
}

.ame-cpe-mini-grid-item {
  background: #c3c4c7;
}

.ame-cpe-radio-option {
  display: flex;
  flex-direction: row;
  gap: 3px;
}

.ame-cpe-radio-toggle-column {
  flex-shrink: 0;
}

.ame-cpe-radio-content-column {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.ame-cpe-protection-tab .description {
  font-style: italic;
}
.ame-cpe-protection-tab fieldset {
  margin-bottom: 16px;
}
.ame-cpe-protection-tab fieldset:last-child {
  margin-bottom: 0;
}
.ame-cpe-protection-tab fieldset legend {
  font-weight: 600;
  font-size: 1.0769230769em;
  padding: 0;
  margin-bottom: 8px;
}

.ame-cpe-protection-type {
  margin-bottom: 12px;
  padding: 4px 6px 8px;
  border-radius: 4px;
  border: 1px solid #c3c4c7;
  background-color: #fafafa;
}
.ame-cpe-protection-type.ame-cpe-is-active-protection {
  border-color: #72aee6;
  background-color: #f0f6fc;
}

.ame-cpe-protection-type-settings {
  display: flex;
  flex-direction: column;
}
.ame-cpe-protection-type-settings label {
  margin-top: 8px;
}

.ame-cpe-replacement-text-info {
  margin-top: 0;
}
.ame-cpe-replacement-text-info label {
  display: inline;
  vertical-align: unset;
}

#ame-cpe-basic-view-state {
  min-width: 140px;
}

.ame-cpe-basic-actor-container {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
  max-width: 400px;
}

.ame-cpe-basic-actor-settings {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 10px;
}
.ame-cpe-basic-actor-settings label {
  line-height: 1.8461538462;
  padding-right: 20px;
}

#ame-cpe-basic-actor-shortcuts {
  margin-left: 10px;
  margin-top: 10px;
  color: #50575e;
}
fieldset[disabled] #ame-cpe-basic-actor-shortcuts a {
  color: #787c82;
}

.ame-cpe-about-tab ul {
  list-style: disc inside;
  margin: 0;
}

.ame-cpe-term-box {
  position: relative;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  background: #fff;
  margin-bottom: 20px;
  border: 1px solid #ccd0d4;
  clear: both;
}
.ame-cpe-term-box .ws-ame-postbox-header {
  position: relative;
  font-size: 14px;
  margin: 0;
  line-height: 1.4;
  border-bottom: 1px solid #ccd0d4;
  border-top-right-radius: inherit;
  border-top-left-radius: inherit;
}
.ame-cpe-term-box .ws-ame-postbox-header h3 {
  padding: 10px 36px 10px 12px;
  margin: 0;
  font-size: 1em;
  line-height: 1;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.ame-cpe-term-box .ws-ame-postbox-header .ws_tooltip_trigger .dashicons {
  height: 14px;
  line-height: 14px;
}
.ame-cpe-term-box .ws-ame-postbox-toggle {
  color: #72777c;
  background: transparent;
  display: block;
  font: normal 20px/1 dashicons;
  text-align: center;
  cursor: pointer;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 36px;
  height: 100%;
  padding: 0;
}
.ame-cpe-term-box .ws-ame-postbox-toggle:hover {
  color: #23282d;
}
.ame-cpe-term-box .ws-ame-postbox-toggle:active, .ame-cpe-term-box .ws-ame-postbox-toggle:focus {
  outline: none;
  padding: 0;
}
.ame-cpe-term-box .ws-ame-postbox-toggle:before {
  content: "\f142";
  display: inline-block;
  vertical-align: middle;
}
.ame-cpe-term-box .ws-ame-postbox-toggle:after {
  display: inline-block;
  content: "";
  vertical-align: middle;
  height: 100%;
}
.ame-cpe-term-box .ws-ame-postbox-content {
  border-top: none;
  padding: 12px;
  border-bottom-right-radius: inherit;
  border-bottom-left-radius: inherit;
}
.ame-cpe-term-box.ws-ame-closed-postbox .ws-ame-postbox-content {
  display: none;
}
.ame-cpe-term-box.ws-ame-closed-postbox .ws-ame-postbox-toggle:before {
  content: "\f140";
}
.ame-cpe-term-box.ws-ame-closed-postbox .ws-ame-postbox-header {
  border-bottom: none;
}
.ame-cpe-term-box .ws-ame-postbox-content {
  padding: 0;
}

#edittag #ame-cpe-permissions-editor-root {
  background: #fff;
}
#edittag .ame-cpe-actor-nav-container {
  flex-basis: 30%;
}

#ame-cpe-enforcement-disabled-notice {
  padding: 8px 12px;
  border: solid #bd8600;
  border-width: 1px 0;
  background: #fcf9e8;
}
#ame-cpe-enforcement-disabled-notice p {
  margin: 0;
}
#ame-cpe-enforcement-disabled-notice .dashicons {
  color: #755100;
}

/*# sourceMappingURL=content-permissions.css.map */
